{% extends "base.html.twig" %}

{% block title %} mot de passe oublié {% endblock %}

{% block body %}
<form method="post">
<input type="email" name="email" placeholder="email" required><br>
<button type="submit"> envoyer un mail de réinitialisation </button>
</form>


 {% endblock %}